main {
  min-height: 80vh;
  /* pushes the copyyright down */
}

/* gives spacing between product name and the ratings */
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* spacing between reviews ratings and text */
.rating span {
  margin: 0.1rem;
}
